<div class="detail" *ngIf="selectedProduct() as selectedProduct">
  <h3>{{ selectedProduct.title }}</h3>
  <div class="image-wrapper">
    <img [src]="selectedProduct.image" [alt]="selectedProduct.title" />
    <div class="description">
      <p>{{ selectedProduct.description }}</p>
      <h4>Tags: <span class="tag" *ngFor="let tag of selectedProduct.tags">{{ tag }}</span></h4>
      <p class="price">Price: <span>{{ selectedProduct.price }}</span> <span *ngIf="selectedProduct.onSale" class="sale">ON SALE!!</span></p>
    </div>
  </div>
</div>
